@model OnlineShop.Web.Models.Customer

@if (Model.Status == false)
{
    <tr class="danger">
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.Email</td>
        <td>@Model.Phone1</td>
        <td style="color:red">Inactive <a>Activate</a></td>
    </tr>
}
else
{
    <tr class="success">
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.Email</td>
        <td>@Model.Phone1</td>
        <td>
            <a asp-action="Edit" asp-route-ID="@Model.CustomerID" asp-route-FirstName="@Model.FirstName"
               asp-route-LastName="@Model.LastName"
               asp-route-Email="@Model.Email" asp-route-Phone1="@Model.Phone1">
                Edit
            </a>
        </td>
    </tr>
}

